<div id="clients">
    <div class="container-fluid">
        <div class="col-md-12">
            <h3>OUR CLIENTS</h3>
        </div>
        <div class="col-md-12">
            <ul class="list-inline">
                <li><img src="/assets/sourcier/images/clients/grazia-logo.svg"></li>
                <li><img src="/assets/sourcier/images/clients/empire-logo.svg"></li>
                <li><img src="/assets/sourcier/images/clients/the-debrief-logo.svg"></li>
                <li><img src="/assets/sourcier/images/clients/fhm-logo.svg"></li>
                <li><img src="/assets/sourcier/images/clients/heatworld-logo.svg"></li>
                <li><img src="/assets/sourcier/images/clients/closer-logo.svg"></li>
                <li><img src="/assets/sourcier/images/clients/mother-and-baby-logo.svg"></li>
            </ul>
        </div>
    </div>
</div>
