@require 'vars.styl'
@require 'components/common.styl'
@require 'components/hero.styl'
@require 'components/navbar.styl'
@require 'components/footer.styl'
@require 'components/services.styl'
@require 'components/clients.styl'
@require 'components/pages.styl'
