<footer>

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12 menu">
                <ul>
                    <li>
                        <a href="/about-us">About Us</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Testimonials</a>
                    </li>
                    <li>
                        <a href="mailto:info@sourcier.uk">Contact</a>
                    </li>

                </ul>
            </div>

            <div class="col-md-4 contacts">
                <h3>Contacts</h3>
                <address>
                    E-mail: <a href="mailto:info@sourcier.uk">info@sourcier.uk</a><br>
                    Phone: <a href="tel:+442071939695">+44 (0) 20 7193 9695</a><br>
                    Twitter: <a href="http://twitter.com/sourcieruk">@sourcieruk</a><br>
                    GitHub: <a href="http://github.com/sourcier">sourcier</a>
                </address>
                <h3>Address</h3>
                <address>
                    86-90 Paul Street, <br>
                    London, <br>
                    EC2A 4NE <br>
                    United Kingdom <br>
                </address>
            </div>

            <div class="col-md-4 legals">
                <h3>Legals</h3>
                <p>Registered in England &amp; Wales</p>
                Company no. 9827604<br>
                VAT no. 225377505
            </div>

            <div class="col-md-4 form">
                <h3>Message Us</h3>
                <form id="main-contact-form" name="contact-form" method="post">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" required="required" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" required="required"
                               placeholder="Your Email">
                    </div>
                    <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"
                                      placeholder="Your message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>

            <div class="col-md-12 copyright">
                <p>&copy; 2015 - {{ 'now'|date('YYYY')}} SOURCIER LTD, its affiliates and licensees. All rights
                    reserved.</p>
            </div>


        </div>

    </div>
</footer>
