<footer>
    <div class="container-fluid">
        <div class="footer-links">
            <ul class="list-inline">
                {% include "site-links.html" %}
            </ul>
        </div>

        <div class="copyright">
            <p>SOURCIER.UK is created, written by, and maintained by SOURCIER LTD.</p>
        </div>

        <!--<div class="footersocial wow fadeInUp" data-wow-duration="3s">-->
            <!--<ul>-->
                <!--<li><a href="http://facebook.com/MamunSrizon"><span class="icon-social-facebook"></span></a></li>-->
                <!--<li><a href="http://twitter.com/MamunSrizon"><span class="icon-social-twitter"></span></a></li>-->
                <!--<li><a href="#"><span class="icon-social-youtube"></span></a></li>-->
                <!--<li><a href="http://dribbble.com/srizon"><span class="icon-social-dribbble"></span></a></li>-->
                <!--<li><a href="#"><span class="icon-social-tumblr"></span></a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</footer>
