<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>www.sourcier.uk</title>
        <link rel="stylesheet" href="/assets/uikit/css/uikit.min.css"/>
        <link rel="stylesheet" href="/assets/sourcier/css/theme.css"/>
    </head>
    <body>
        {{{body}}}
        <script src="/assets/jquery/dist/jquery.min.js"></script>
        <script src="/assets/uikit/js/uikit.min.js"></script>
    </body>
</html>