{% extends 'layout.html' %}

{% block bodyClass %}services{% endblock %}

{% block content %}

{% include "partials/navbar.html" %}

<div id="services" class="container-fluid">
    <div class="hero">
        <div class="hero-text">
            <h2 class="wow fadeInUp" data-wow-duration="2s">SERVICES</h2>
            <p class="wow fadeInDown" data-wow-duration="3s">WHAT WE CAN DO FOR YOU</p>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/s4.png" alt="">
        <h3>Windows App Design</h3>
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>

    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/s5.png" alt="">
        <h3>Brand Identity Design</h3>
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>

    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/s6.png" alt="">
        <h3>CMYK Print Design</h3>
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>
</div>

<hr/>

<div id="technology" class="container-fluid">
    <div class="hero">
        <div class="hero-text">
            <h2 class="wow fadeInUp" data-wow-duration="2s">TECHNOLOGY</h2>
            <p class="wow fadeInDown" data-wow-duration="3s">WE WORK WITH</p>
        </div>
    </div>
    
    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/technology/html5.svg" alt="HTML5">
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>

    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/technology/css3.svg" alt="CSS3">
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>
    
    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/technology/javascript.svg" alt="JavaScript">
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>
    
    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/technology/node.svg" alt="NodeJS">
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>

    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/technology/php.svg" alt="PHP">
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>
    
    <div class="col-md-6 col-lg-4">
        <img src="/assets/sourcier/images/technology/mysql.svg" alt="MySQL">
        <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
            dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
    </div>
</div>

{% include "partials/footer.html" %}

{% endblock %}
