{% extends 'layout.html' %}

{% block bodyClass %}services{% endblock %}

{% block content %}

{% include "partials/navbar.html" %}

<div id="hero">
    <div class="container-fluid">
        <div class="hero-text">
            <i class="fa fa-shopping-basket fa-5x"></i>
            <h2 class="wow fadeInUp" data-wow-duration="2s">SERVICES</h2>
            <p class="wow fadeInDown" data-wow-duration="3s">WHAT WE CAN DO FOR YOU</p>
        </div>
    </div>
</div>

<hr/>

<div id="services" class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <img src="/assets/sourcier/images/s1.png" alt="">
            <h3>Responsive Web Design</h3>
            <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
                dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
        </div>

        <div class="col-md-6 col-lg-4">
            <img src="/assets/sourcier/images/s2.png" alt="">
            <h3>Android App Design</h3>
            <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
                dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
        </div>

        <div class="col-md-6 col-lg-4">
            <img src="/assets/sourcier/images/s3.png" alt="">
            <h3>iOS App Design</h3>
            <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
                dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
        </div>

        <div class="col-md-6 col-lg-4">
            <img src="/assets/sourcier/images/s4.png" alt="">
            <h3>Windows App Design</h3>
            <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
                dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
        </div>

        <div class="col-md-6 col-lg-4">
            <img src="/assets/sourcier/images/s5.png" alt="">
            <h3>Brand Identity Design</h3>
            <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
                dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
        </div>

        <div class="col-md-6 col-lg-4">
            <img src="/assets/sourcier/images/s6.png" alt="">
            <h3>CMYK Print Design</h3>
            <p>At tale tempor nec. An fastidii scaevola incorrupte sea, ea eum omittam mediocrem consequuntur. Pri quem
                dicant et, qui at habemus epicurei. Vix ea aperiri vituperatoribus, vis alii aeterno principes ad.</p>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}

{% endblock %}
