#clients

    img
        height 60px
        max-width 93px
        
    // Tablet & Desktop
    @media screen and (min-width: mediumScreen)
        
        img
            max-width 120px
            
