body
    font-family: 'Muli', sans-serif
    padding-top 75px

h1,
h2,
h3
h4
    font-family: 'Ovo', serif
    text-transform uppercase
    text-align left
    
img
    display block
    max-width 100%
    height auto
    
.container-fluid
    max-width 960px
