body
    font-family: 'Muli', sans-serif
    padding-top 50px

h1,
h2,
h3
    font-family: 'Ovo', serif
    text-transform uppercase
    text-align left
    
h3
    font-size 13pt
    
img
    display block
    max-width 100%
    height auto
    
.container-fluid
    max-width 960px
    
.btn-primary
    background primaryColor
    border-color darken(#7ed321, 10%)
    &:hover
        background darken(#7ed321, 10%)
        border-color darken(#7ed321, 20%)
