*
    -webkit-transition .7s ease-out
 	-moz-transition .7s ease-out
 	-o-transition  .7s ease-out
 	transition .7s ease-out

body
    font-family: 'Muli', sans-serif
    padding-top 100px

h1,
h2,
h3
    font-family: 'Ovo', serif
    
img
    display block
    max-width 100%
    height auto
    
.container-fluid
    max-width 960px
