footer
    text-align center
    margin-top 50px
    padding-top 25px
    background #222
    color #9d9d9d
    
    
    a
        color: #9d9d9d
        &:hover
            color: primaryColor
            text-decoration none
    
    .footer-links
    
        margin-top 0
        
        ul
            display inline-block
            margin 0
        
            li
                padding: 10px
                text-transform: uppercase
                letter-spacing: 3px
                list-style none

    .footer-social
        
        margin 25px 0 25px 0

        ul
            display inline-block
            
            li
                display inline
                padding: 10px
                    
    .copyright
        .text-muted
            font-size 8pt
    
    // Tablet & Desktop
    @media screen and (min-width: mediumScreen)
        
        .footer-links
            ul
                li
                    display:inline;
            
