footer
    margin-top 50px
    padding-top 25px
    background #222
    color #9d9d9d
    text-align center
    
    a
        color: #9d9d9d
        &:hover
            color: primaryColor
            text-decoration none
            
    ul
        margin 25px auto
        padding 0
        
    h3
        text-align center
        margin-top 50px;
        
    .menu
    
        margin-top 0
        
        li
            padding 10px
            text-transform uppercase
            letter-spacing 3px
            list-style none
                    
    .copyright
        font-size 8pt
    
    // Desktop
    @media screen and (min-width: largeScreen)
        
        text-align left
        
        h3
            text-align left
        
        .menu,
        .copyright
            text-align center
        
        .menu
            ul
                li
                    display:inline;                   
