#hero
    text-align center

    max-height 880px
    
    overflow: hidden
    
    h2
        font-size: 13pt;
        strong
            font-size 28pt
    p
        font-size: 32px;
        margin-top: -25px;
        
    .hero-text
        width 100%
        max-width 900px
        margin auto
        
    .hero-image
        margin-top 20px
        width 100%
        max-width: 1200px
        
    // Tablet & Desktop
    @media screen and (min-width: mediumScreen)
        
        h2
            font-size 31pt
            strong
                font-size 56pt
        
        p
            font-size 58pt
            margin-top -35px
