.hero
    text-align center

    max-height 880px
    
    overflow: hidden
    
    margin 25px
    
    .hero-text
        width 100%
        max-width 900px
        margin-bottom 25px

        @media screen and (min-width: mediumScreen)
            h2
                font-size: 38pt
        
    .hero-image
        margin-top 20px
        width 100%
        max-width: 960px
        
    h2
            
        font-size: 24pt;
        text-align center
    p
        font-size: 12pt;
        margin-top: -20px;



.homepage
    
    .hero
        
        margin-left 15px
        margin-right 15px
        
        h2
            font-size: 13pt;
            strong
                font-size 28pt
        p
            font-size: 24pt;
            margin-top: -25px;
    
        // Tablet & Desktop
        @media screen and (min-width: mediumScreen)
        
            h2
                font-size 31pt
                strong
                    font-size 56pt
            
            p
                font-size 58pt
                margin-top -35px               
    


