.btn-icon,
.brand-icon
    margin-right: 10px
    
.navbar-inverse
    .brand-icon
        max-width 25px
        float left
        margin-top -5px
        margin-right 8px
    .brand-name
        font-size 14pt;
        margin-top 2px
        float left
    &:hover
        .navbar-brand
            color primaryColor
    
.navbar-inverse 
    .navbar-nav
        li
            a
                text-transform uppercase
                &:hover
                    color primaryColor                   
    
